@inject NavigationManager navigationManager

<RadzenFieldset>
    <HeaderTemplate>
        <span style="font-size: 1.5rem;" >
            <RadzenIcon Icon="new_releases" /><b style="margin-left: 5px;vertical-align: top;" >@Alert.Name</b>
        </span>
    </HeaderTemplate>
    <ChildContent>
        <MarkdownView Content="@Alert.Notes"/>
    </ChildContent>
</RadzenFieldset>

@code {

    [Parameter]
    public Alert Alert { get; set; }

}
